.searchBox {
  width: 100%;
  max-width: 390px;
  min-width: 200px;
  margin: 0 auto;
  padding: 20px;
}

.input:hover,
.input:focus {
  box-shadow: 8px 4px rgba(170, 77, 48, 0.278),
    -8px -4px rgba(48, 111, 170, 0.278);
}
