.modalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.334);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  background-color: rgb(255, 255, 255);
  padding: 16px 42px;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.334);
  margin: 8px;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.583);
}
.btnConfirm:active {
  background-color: rgb(118, 171, 108);
}

.btnCancel:enabled:active {
  background-color: rgb(195, 115, 93);
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  text-align: start;
  font-family: sans-serif;
  font-size: 24px;
  margin: 0;
}
.input {
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  background-color: rgba(119, 171, 108, 0.282);

  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(64, 62, 62);
}
.label {
  position: relative;
}
.check {
  position: absolute;
  top: 20px;
  right: 8px;
}
.errorName {
  position: absolute;
  top: -6px;
  right: 0;
  color: rgb(214, 83, 46);
}
.errorNumber {
  position: absolute;
  top: 12px;
  right: 0;
  color: rgb(214, 83, 46);
}
