.card {
  position: relative;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  gap: 16px;
  transition: box-shadow 500ms linear, background-color 250ms linear;
  border: 1px solid rgb(232, 231, 231);
}
.card:hover,
.card:focus {
  box-shadow: 8px 4px rgba(170, 77, 48, 0.278),
    -8px -4px rgba(48, 111, 170, 0.278);
}

.cardLis {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  color: #515252;
  margin-right: 8px;
}

.btnBox {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hr {
  color: rgb(255, 255, 255);
  margin: 2px;
  margin-bottom: 4px;
  width: 100%;
}
