.card {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  background-color: #8c8e8e4e;
  font-family: sans-serif;
  color: #121b1b;
  gap: 16px;
  transition: box-shadow 500ms linear, background-color 250ms linear;
}
.card:hover,
.card:focus {
  box-shadow: 8px 4px rgba(170, 77, 48, 0.278),
    -8px -4px rgba(48, 111, 170, 0.278);
  background-color: #c1c3c34e;
}

.cardLis {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon {
  color: #515252;
}

.cardText {
  display: flex;
  gap: 8px;
  align-items: baseline;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.cardBtn {
  background-color: #7678786e;
  color: #fafafa;
  border-radius: 4px;
  height: 36px;
  border: none;

  font-size: 24px;
  font-weight: 600;
  transition: background-color 250ms linear;
}
.cardBtn:hover {
  background-color: rgba(83, 33, 17, 0.601);
}
