.contactType{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 2px 8px 2px 4px;
}

/* .workGreen{
    background-color: lightseagreen;
}

.homeBlue{
    background-color: cornflowerblue;
}
.personalRed{
    background-color: coral;
} */