.modalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.334);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal {
  background-color: rgb(255, 255, 255);
  padding: 16px 42px;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
}
.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.334);
  margin: 8px;
}

.btn:hover,
.btn:focus {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.583);
}
.btnConfirm:active {
  background-color: rgb(118, 171, 108);
}

.btnCancel:active {
  background-color: rgb(195, 115, 93);
}
